.list{
  list-style: square;
}
.tutorial li{
  height: 30px;
  list-style: square;
  border-bottom: 1px solid rgb(235, 229, 229);
}
.tutorial li:hover{
  background-color: rgb(235, 229, 229);
}
.chapters{
  padding-left: 8%;
  padding-right: 4%;
}
.tutorial li.chapter-heading{
  list-style: none;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid black;
  border-bottom: 0px;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:black;
}

.tutorial-content{
  text-align: justify;
}
